[Unit]
Description=Sacloud OpenTelemetry Collector
After=network.target

[Service]
EnvironmentFile=/etc/default/sacloud-otel-collector
ExecStart=/usr/bin/sacloud-otel-collector $OTELCOL_OPTIONS
ExecReload=/bin/kill -HUP $MAINPID
KillMode=mixed
Restart=on-failure
Type=simple
User=sacloud-otelcol
Group=sacloud-otelcol

[Install]
WantedBy=multi-user.target
