name: tagpr-release
on:
  push:
    branches: ["main"]
  workflow_dispatch:
    inputs:
      tag:
        description: "Tag to release"
        required: true
        default: ""
        type: string
permissions:
  contents: write
  packages: write
  issues: write
  pull-requests: write
  actions: write

jobs:
  test:
    name: run
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          ref: ${{ inputs.tag || 'main' }}

      - uses: Songmu/tagpr@ebb5da0cccdb47c533d4b520ebc0acd475b16614 # v1.7.0
        id: tagpr
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: ${{ inputs.tag == '' }}

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: "1.24"
        id: go
        if: ${{ steps.tagpr.outputs.tag != '' || inputs.tag != '' }}

      - name: go mod download
        run: |
          go mod download
        working-directory: cmd/sacloud-otel-collector
        if: ${{ steps.tagpr.outputs.tag != '' || inputs.tag != '' }}

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        with:
          version: '~> v2'
          args: release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: ${{ steps.tagpr.outputs.tag != '' || inputs.tag != '' }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
        if: ${{ steps.tagpr.outputs.tag != '' || inputs.tag != '' }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
        if: ${{ steps.tagpr.outputs.tag != '' || inputs.tag != '' }}

      - name: Docker Login
        uses: docker/login-action@184bdaa0721073962dff0199f1fb9940f07167d1 # v3.5.0
        with:
          registry: ghcr.io
          username: $GITHUB_ACTOR
          password: ${{ secrets.GITHUB_TOKEN }}
        if: ${{ steps.tagpr.outputs.tag != '' || inputs.tag != '' }}

      - name: Build and push Docker images
        run: |
          make docker-push
        if: ${{ steps.tagpr.outputs.tag != '' || inputs.tag != '' }}
