name: test
on: [pull_request]
permissions:
  contents: write
  packages: write
  issues: write
  pull-requests: write

jobs:
  test:
    name: test build
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: "1.25"
        id: go

      - name: build
        run: |
          make
          ./sacloud-otel-collector components
          ./sacloud-otel-collector --version

      - name: docker build test
        run: |
          mkdir -p dist/sacloud-otel-collector_linux_amd64
          cp ./sacloud-otel-collector dist/sacloud-otel-collector_linux_amd64/sacloud-otel-collector
          make docker-load
          docker run --rm ghcr.io/sacloud/sacloud-otel-collector:$VERSION --version
        env:
          VERSION: ${{ github.sha }}
