name: test
on: [pull_request]
permissions:
  contents: write
  packages: write
  issues: write
  pull-requests: write

jobs:
  test:
    name: test build
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up Go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version: "1.24"
        id: go

      - name: build
        run: |
            make
            ./sacloud-otel-collector components
            ./sacloud-otel-collector --version
